header {
    color: #50858B;
    font-size: 40px;
    text-align: center;
}
main {
    font-size: 25px;
    color: black;
    text-align: center;
    width: 800px;
    margin: auto;
}
section {
    color: #50858B;
    font-size: 40px;
    text-align: center;
    margin: auto;
    width: 700px;
}
p {
    font-size: 25px;
    color: black;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    vertical-align: middle;
    line-height:100px;
    color: white;
    font-size: 20px;
    background-color: #50858B;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
